@import 'lib/display-flex';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-height {
    height: 100%;
}

.flex-container {
    .display-flex();
}

@import 'lib/margins';
@import 'lib/paddings';